<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SMILE", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Rosecrucian Module",   rosecrucians_path %></li>
        <li><%= link_to "Numerology Module", numerologies_path %></li>
      </ul>
    </nav>
  </div>
</header>
